#webhooks_wrapper .webhooks-list.show-help .slider {
	display: block;
}

#webhooks_wrapper .webhooks-list .slider {
	display: none;
	overflow-y: hidden;
	max-height: 500px;
	transition-property: all;
	transition-duration: .75s;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	background-color: #F5F5FF;
	border-bottom: 1px solid #dcdcdc;
	padding: 30px;
	padding-left: 125px;
	padding-right: 125px;
	font-size: 12px;
}

#webhooks_wrapper .webhooks_container {
	margin-right: 110px;
	margin-left: 110px;
	margin-top: 30px;
	margin-bottom: 80px;
}

#webhooks_wrapper .webhooks_container .webhooks-grid {
	margin-top: 15px;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .webhooks-rows .empty-search-row,
#webhooks_wrapper .webhooks_container .webhooks-grid .webhooks-rows .no-webhooks-row {
	padding: 16px;
	text-align: center;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .webhooks-rows .empty-search-row {
	display: none;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .webhooks-rows .info-bar {
	margin: 10px 0;
	height: 40px;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .webhooks-rows .info-bar .info-control {
	color: #22ccff;
	font-size: 12px;
	cursor: pointer;
	text-decoration: none;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .webhooks-rows .info-bar .info-control .info-cell {
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
	margin-left: 5px;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


#webhooks_wrapper .webhooks-list.show-help .webhooks-grid .webhooks-rows .info-bar .info-control .info-cell .less,
#webhooks_wrapper .webhooks-grid .webhooks-rows .info-bar .info-control .info-cell .more,
#webhooks_wrapper .webhooks_container .webhooks-grid .webhooks-rows .empty-search-row.show,
#webhooks_wrapper .webhooks_container .webhooks-grid .webhooks-rows .no-webhooks-row.show {
	display: block;
}

#webhooks_wrapper .webhooks-grid .webhooks-rows .info-bar .info-control .info-cell .less,
#webhooks_wrapper .webhooks-list.show-help .webhooks-grid .webhooks-rows .info-bar .info-control .info-cell .more {
	display: none;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .webhooks-rows .info-bar .info-control .help {
	color: #22ccff;
	font-size: 12px;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .webhooks-rows .addWebhook-cells {
	color: #999;
	height: 60px;
	line-height: 60px;
	border: 1px dashed #CCC;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 15px;
	padding-left: 15px;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .webhooks-rows .addWebhook-cells:hover {
	background: #F0F0F0;
	color: #000;
	border: 1px dashed #999;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .webhooks-rows .addWebhook-cells i {
	margin-right: 10px;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .webhooks-rows .addWebhook-cells > * {
	color: #999;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .webhooks-rows .addWebhook-cells:hover > * {
	color: #000;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .webhooks-rows .add-webhook .icon-plus-sign {
	color: #B8B8B8;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .webhooks-rows .grid-row {
	margin-bottom: 15px;
	border-radius: 4px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  hsl(0,0%,100%) 0%, hsl(0,0%,93%) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(0,0%,100%)), color-stop(100%,hsl(0,0%,93%))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  hsl(0,0%,100%) 0%,hsl(0,0%,93%) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  hsl(0,0%,100%) 0%,hsl(0,0%,93%) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  hsl(0,0%,100%) 0%,hsl(0,0%,93%) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  hsl(0,0%,100%) 0%,hsl(0,0%,93%) 100%); /* W3C */
}

#webhooks_wrapper .webhooks_container .webhooks-grid .grid-row.title {
	height: 60px;
	line-height: 60px; /* 60 - padding */
}

#webhooks_wrapper .webhooks_container .webhooks-grid .grid-row.title .grid-cell {
	text-align: center;
	padding-left: 0;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .grid-row .grid-cell {
	vertical-align: top;
	border: 1px solid #dcdcdc;
	border-right: none;
	border-left: none;
	display: inline-block;
	overflow: hidden;
	padding-left: 10px;
	width: 20%;
	height: 100%;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .grid-row .grid-cell:first-child {
	border-left: 1px solid #dcdcdc;
	border-radius: 4px 0 0 4px;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .grid-row .grid-cell:last-child {
	border-right: 1px solid #dcdcdc;
	border-radius: 0 4px 4px 0;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .grid-row .grid-cell.centered {
	padding: 0;
	text-align: center;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .grid-row .webhooks-cells {
	height: 60px;
	line-height: 60px;
}

#webhooks_wrapper .image-help {
	background: url('images/webhooks_help.png') center no-repeat;
	float: left;
	height: 110px;
	margin-right: 50px;
	width: 90px;
}


/* Columns */

#webhooks_wrapper .webhooks_container .webhooks-grid .grid-row .grid-cell.webhook-name {
	width: 20%;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .grid-row .grid-cell.webhook-uri {
	width: 30%;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .grid-row .grid-cell.disabled i {
	color: #333333;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .grid-row .grid-cell.webhook-hook {
	width: 25%;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .grid-row .grid-cell.actions {
	width: 25%;
	text-align: right;
	padding-right: 10px;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .grid-row .grid-cell.actions a {
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .grid-row .grid-cell.actions a i {
	cursor: pointer;
}

#webhooks_wrapper .webhooks_container .webhooks-grid .grid-row .grid-cell.actions a:hover i {
	text-shadow: 0px 0px 2px #BBB;
}

/* Create Webhook PopUp */
#webhook_dialog form {
	width: 370px;
}

#webhook_dialog form > div {
	padding: 40px 40px 0px 45px;
	border-bottom: 1px solid #c1c1c1;
	
}

#webhook_dialog label:not(.monster-invalid) {
	width: 30px;
	text-align: left;
}

#webhook_dialog label.retry {
	width: 180px;
}

#webhook_dialog label.custom {
	width: 180px;
	font-size: 12px;
}

#webhook_dialog .control-group .controls {
	margin-left: 70px;
}

#webhook_dialog div.dialog-buttons-wrapper {
	padding-bottom: 20px;
	text-align: center;
}

#webhook_dialog input {
	width: 185px;
}

#webhook_dialog input.same-line {
	margin-left: 5px;
}

#webhook_dialog input.input-small {
	width: 100px;
	margin-left:0;
	margin-bottom: 5px;
	margin-right: 5px;
}

#webhook_dialog .control-group .controls.custom-info .cd .delete-cd {
	margin-left: 15px;
}

#webhook_dialog .control-group .controls.custom-info .cd .delete-cd .icon-trash {
	text-decoration: none;
}

#webhook_dialog .control-group .controls.custom-info .cd .delete-cd .icon-trash:hover {
	color: #000;
	cursor: pointer;
}

#webhook_dialog .control-group .controls.custom-info {
	margin-left: 0;
}

#webhooks_dialog controls.custom-info.hidden {
	display: none;
}

#webhook_dialog select {
	width: 200px;
	margin-left: 40px;
}

#webhook_dialog select.select-retry {
	width: 60px;
	margin-left: 30px;
}

#webhook_dialog select.select-hook {
	width: 200px;
}

/* History popup */
#webhook_history {
	/*width: 500px;*/
	padding: 15px;
}

#webhook_history .attempt {
	padding: 10px;
}

#webhook_history .attempt:not(:last-child) {
	margin-bottom: 10px;
}

#webhook_history .attempt[data-result="success"] {
	background: #BFFFBF;
	border: 1px solid #3FBA3F;
}

#webhook_history .attempt[data-result="failure"] {
	background: #FFE4E1;
	border: 1px solid #f75d59
}

#webhook_history .attempt[data-result="empty"] {
	background: #F0F0F0;
	border: 1px solid #DDD;
	text-align: center;
	margin-top: 12px;
}

#webhook_history .attempt > * {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}

#webhook_history .attempt .date {
	width: 150px;
}

#webhook_history .attempt .reason {
	margin-left: 30px;
	width: 300px;
}

#webhook_history .attempt .retries-left {
	width: 30px;
}

#webhook_history .attempt.title .reason {
	width: 200px;
}

#webhook_history .attempt.title .retries-left {
	width: 130px;
	text-align: right;
}