<div id="webhook_dialog">
	<form class="form-horizontal labels" id="form_webhook">
		<div>
			<div class="control-group">
			<label class="control-label"> {{ i18n.webhooks.dialogWebhook.enterName }}</label>
			<div class="controls">
				<input required type="text" id="name" name="name" value="{{name}}" placeholder="{{i18n.webhooks.dialogWebhook.placeholderName}}"></input>
		</div>
		</div>
			
			<div class="control-group">
		<label class="control-label"> {{ i18n.webhooks.dialogWebhook.enterURL }}</label>
				<div class="controls">
					<input required type="text" id="uri" name="uri" value="{{uri}}"/>
			</div>
		</div>

		<div class="control-group">
		<label class="control-label"> {{ i18n.webhooks.dialogWebhook.enterRequest }}</label>
				
				<select required name="http_verb" id="http_verb" name="http_verb">
					<option {{#compare http_verb "===" "get"}} selected{{/compare}} value="get">{{ i18n.webhooks.dialogWebhook.Request.get }}</option>
					<option {{#compare http_verb "===" "post"}} selected{{/compare}} value="post">{{ i18n.webhooks.dialogWebhook.Request.post  }}</option>
				</select>
			</div>
			
			<div class="control-group">
		<label class="control-label"> {{ i18n.webhooks.dialogWebhook.enterHook }}</label>
		
				<select required class="select-hook" name="hook" id="hook">
						<option {{#compare hook "===" "channel_create"}} selected{{/compare}} value="channel_create">{{ i18n.webhooks.dialogWebhook.Hooks.cc }}</option>
						<option {{#compare hook "===" "channel_destroy"}} selected{{/compare}} value="channel_destroy">{{ i18n.webhooks.dialogWebhook.Hooks.cd }}</option>
						<option {{#compare hook "===" "channel_answer"}} selected{{/compare}} value="channel_answer">{{ i18n.webhooks.dialogWebhook.Hooks.ca }}</option>
						<option {{#compare hook "===" "all"}} selected{{/compare}} value="all">{{ i18n.webhooks.dialogWebhook.Hooks.ALL }}</option>
				</select>  
			</div>
			
			<div class="control-group">
		<label class="control-label retry"> {{ i18n.webhooks.dialogWebhook.enterRetries }}</label>
		
				<select required class="select-retry" name="retries" id="retries">
					<option {{#compare retries "===" "1"}} selected{{/compare}}>1</option>
					<option {{#compare retries "===" "2"}} selected{{/compare}}>2</option>
					<option {{#compare retries "===" "3"}} selected{{/compare}}>3</option>
					<option {{#compare retries "===" "4"}} selected{{/compare}}>4</option>
				</select>    
			</div>
			
			<div class="control-group">
				<div class="controls custom-info" id="custom-data"></div>
				<label class="control-label custom">{{ i18n.webhooks.addCD }}</label>
			</div>  
		</div>
	</form>
	
	<div class="dialog-buttons-wrapper">
		<button id="save" type="button" class="btn btn-success save">
			{{#if name}}
				{{ i18n.webhooks.dialogWebhook.save }}
			{{else}}
				{{ i18n.webhooks.dialogWebhook.createWebhook }}
			{{/if}}
		</button>
	</div> 
</div>
