<div id="test-wrapper">
    
        <a id="add-webhook">
	    + Create Webhook
	</a>
        
    <div class="webhooks-list">
        
        <input type="text" id="webhook_name" name="webhook.name" placeholder="Name"></input><br>
	<input type="text" id="webhook_URI" placeholder="URI"></input><br>
	<input type="text" id="webhook_hook" placeholder="Hook"></input><br>
	<input type="text" id="webhook_verb" placeholder="Verb"></input><br>
	<button id="update" class="btn btn-success">Update Webhook</button>
        <button id="delete" class="btn btn-failure"> Delete Webhook</button>
        
        {{#each webhooks}}
            <div class="item-row">
                    <div class="webhook-name"> {{ name }} </div>
                    <div class="webhook-hook"> {{ hook }} </div>
		    <a href="#popup" class="edit-toggle" data-id="{{id}}"><i class="icon-cog"></i></a>
            </div>
        {{/each}}
        
    </div>
</div>
