<div id="webhooks_wrapper">
	<div class="webhooks-header clearfix">
		<div class="webhooks-counters pull-left">
			<div class="counter-active">
				<div class="count">{{#if counters.active}}{{counters.active}}{{else}}0{{/if}}</div>
				<div class="text">{{i18n.webhooks.webhookCounters.active}}</div>
			</div>
			<div class="counter-disabled">
				<div class="count">{{#if counters.disabled}}{{counters.disabled}}{{else}}0{{/if}}</div>
				<div class="text">{{i18n.webhooks.webhookCounters.disabled}}</div>
			</div>
			<div class="counter-errors">
				<div class="count">{{#if counters.error}}{{counters.error}}{{else}}0{{/if}}</div>
				<div class="text">{{i18n.webhooks.webhookCounters.errors}}</div>
			</div>
		</div>
		<button class="new-webhook monster-button pull-right">
			<div class="icon-wrapper"><i class="webhook-plus-sign"></i></div>
			<div class="text monster-primary-color">{{ i18n.webhooks.addWebhook }}</div>
		</button>
	</div>
	<div class="webhooks-container">
		<div class="info-bar clearfix">
			<div class="filter-box pull-left">
				<select class="filter-select">
					<option value="all">{{i18n.webhooks.webhookFilters.all}}</option>
					<option value="errors">{{i18n.webhooks.webhookFilters.errors}}</option>
					<option value="disabled">{{i18n.webhooks.webhookFilters.disabled}}</option>
					<option value="active">{{i18n.webhooks.webhookFilters.active}}</option>
				</select>
			</div>
			<div class="search-box pull-left">
				<i class="fa fa-search"></i>
				<input type="text" class="search-query" placeholder="{{ i18n.webhooks.search }}..."></input>
			</div>
			<button class="reenable-button monster-button-secondary pull-right" data-original-title="{{i18n.webhooks.reenableTooltip}}" data-placement="top" data-toggle="tooltip">
				<i class="fa fa-repeat"></i>{{i18n.webhooks.reenableButton}}
			</button>
		</div>
		<div class="webhooks-grid">

			<div class="empty-search-row">{{ i18n.webhooks.emptySearch }} </div>

			{{#unless isEmpty}}
				{{#each groupedWebhooks}}
				<div class="grid-row-group">
					<div class="grid-row-header">{{groupName}}</div>
					{{#each webhooks}}
					<div class="grid-row{{#unless enabled}}{{#if disable_reason}} error{{else}} disabled{{/if}}{{/unless}}" data-id="{{ id }}" data-search="{{ name }}">
						<div class="webhooks-cells">
							<div class="grid-cell webhook-name"><i class="webhook-status-icon fa fa-circle"></i>{{ name }}</div>
							<div class="grid-cell webhook-status-toggle">
								{{#monsterSwitch}}
								<input type="checkbox" class="webhook-toggle" data-id="{{ id }}" data-on="{{@root.i18n.on}}" data-off="{{@root.i18n.off}}" {{#if enabled}} checked{{/if}}>
								{{/monsterSwitch}}
								<i class="webhook-error-sign history fa fa-2x fa-warning" data-original-title="{{@root.i18n.webhooks.errorTooltip}}<br />{{disable_reason}}" data-html="true" data-placement="top" data-toggle="tooltip"></i>
							</div>
							<div class="grid-cell webhook-uri">{{ uri }}</div>
							<div class="grid-cell webhook-hook">{{ hook }}</div>
							<div class="grid-cell webhook-actions">
								<a class="edit" data-id="{{id}}"><i class="fa fa-lg fa-cog" data-toggle="tooltip" data-placement="top" data-original-title="{{ @root.i18n.webhooks.editTooltip }}"></i></a>
								<a class="history" data-id="{{id}}"><i class="fa fa-lg fa-list" data-toggle="tooltip" data-placement="top" data-original-title="{{ @root.i18n.webhooks.historyTooltip }}"></i></a>
								<a class="delete"><i class="fa fa-lg fa-trash-o" data-toggle="tooltip" data-placement="top" data-original-title="{{ @root.i18n.webhooks.deleteTooltip }}"></i></a>
							</div>
						</div>
						<div class="grid-row-delete">
							<span class="delete-message">{{ @root.i18n.webhooks.deleteMessage }}</span>
							<button type="button" class="monster-button cancel-delete">{{ @root.i18n.cancel }}</button>
							<button type="button" class="monster-button-danger confirm-delete">{{ @root.i18n.delete }}</button>
						</div>
					</div>
					{{/each}}
				</div>
				{{/each}}

				{{#each ungroupedWebhooks}}
				<div class="grid-row{{#unless enabled}}{{#if disable_reason}} error{{else}} disabled{{/if}}{{/unless}}" data-id="{{ id }}" data-search="{{ name }}">
					<div class="webhooks-cells">
						<div class="grid-cell webhook-name"><i class="webhook-status-icon fa fa-circle"></i>{{ name }}</div>
						<div class="grid-cell webhook-status-toggle">
							{{#monsterSwitch}}
							<input type="checkbox" class="webhook-toggle" data-id="{{ id }}" data-on="{{@root.i18n.on}}" data-off="{{@root.i18n.off}}" {{#if enabled}} checked{{/if}}>
							{{/monsterSwitch}}
							<i class="webhook-error-sign history fa fa-2x fa-warning" data-original-title="{{@root.i18n.webhooks.errorTooltip}}<br />{{disable_reason}}" data-html="true" data-placement="top" data-toggle="tooltip"></i>
						</div>
						<div class="grid-cell webhook-uri">{{ uri }}</div>
						<div class="grid-cell webhook-hook">{{ hook }}</div>
						<div class="grid-cell webhook-actions">
							<a class="edit" data-id="{{id}}"><i class="fa fa-lg fa-cog" data-toggle="tooltip" data-placement="top" data-original-title="{{ @root.i18n.webhooks.editTooltip }}"></i></a>
							<a class="history" data-id="{{id}}"><i class="fa fa-lg fa-list" data-toggle="tooltip" data-placement="top" data-original-title="{{ @root.i18n.webhooks.historyTooltip }}"></i></a>
							<a class="delete" data-id="{{id}}"><i class="fa fa-lg fa-trash-o" data-toggle="tooltip" data-placement="top" data-original-title="{{ @root.i18n.webhooks.deleteTooltip }}"></i></a>
						</div>
					</div>
					<div class="grid-row-delete">
						<span class="delete-message">{{ @root.i18n.webhooks.deleteMessage }}</span>
						<button type="button" class="monster-button cancel-delete">{{ @root.i18n.cancel }}</button>
						<button type="button" class="monster-button-danger confirm-delete">{{ @root.i18n.delete }}</button>
					</div>
				</div>
				{{/each}}
			{{else}}
				<div class="no-webhooks-row">{{ i18n.webhooks.noWebhooks }} </div>
			{{/unless}}
		</div>
	</div>
</div>
