<!--<div id="edit_webhook_dialog">
    <form class="form-horizontal labels" id="form_webhook_edit">
        <div>
            
            <div class="control-group">
	    	<label class="control-label"> {{ i18n.webhooks.dialogCreationWebhook.enterName }} </label>
	    	<div class="controls">
        		<input required type="text" id="name" name="name" value="{{name}}" placeholder="{{i18n.webhooks.dialogCreationWebhook.placeholderName}}"></input>
		</div>
	    </div>
            
            <div class="control-group">
		<label class="control-label"> {{ i18n.webhooks.dialogCreationWebhook.enterURL }} </label>
                <div class="controls">
        	    	<input required type="text" name="uri" value="{{uri}}" id="uri"/>
        	</div>
	    </div>

	    <div class="control-group">
		<label class="control-label"> {{ i18n.webhooks.dialogCreationWebhook.enterRequest }} </label>
                
                <select class="request-select" name="http_verb" id="http_verb">
                    <option value="get">{{ i18n.webhooks.dialogCreationWebhook.Request.get }}</option>
                    <option value="post">{{ i18n.webhooks.dialogCreationWebhook.Request.post }}</option>
                </select>
	    
            </div>
            
            <div class="control-group">
		<label class="control-label"> {{ i18n.webhooks.dialogCreationWebhook.enterHook }} </label>
		
                <select class="hook-select" name="hook" id="hook">
                    <option value="channel_create">{{ i18n.webhooks.dialogCreationWebhook.Hooks.cc }}</option>
                    <option value="channel_destroy">{{ i18n.webhooks.dialogCreationWebhook.Hooks.cd }}</option>
                    <option value="channel_answer">{{ i18n.webhooks.dialogCreationWebhook.Hooks.ca }}</option>
                    <option value="all">{{ i18n.webhooks.dialogCreationWebhook.Hooks.ALL }}</option>
                </select>
                
            </div>
            
            <div class="control-group">
		<label class="control-label retry"> {{ i18n.webhooks.dialogCreationWebhook.enterRetries }} </label>
		
                <select class="select-retry" name="retries" id="retries">>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                
            </div>
            
        </div>
    </form>
    
    <div class="dialog-buttons-wrapper">
    	<button id="edit_webhook" class="btn btn-success">{{ i18n.webhooks.save }}</button>
    </div>
</div>-->
