<div id="webhooks_wrapper">
	<div class="webhooks-list">

		<div class="slider">
			<div class="image-help">
			</div>
			<div class="text">
				{{ i18n.webhooks.info }} <br><br>
				{{ i18n.webhooks.info2 }}
			</div>
		</div>

		<div class="webhooks_container">
			<div class="webhooks-grid">
				<div class="webhooks-rows">
					<div class="info-bar clearfix">
						<div class="info-control">
							<span class="more-info pull-left">
								<i class="info-cell fa fa-question-circle help"></i>
								<div class="info-cell info-text">
									<div class="less">{{i18n.webhooks.less}}</div>
									<div class="more">{{i18n.webhooks.more}}</div>
								</div>
							</span>
							<span class="info-cell search-box pull-right">
								<i class="icon-search"></i>
								<input type="text" class="search-query" placeholder="{{ i18n.webhooks.search }}..."></input>
							</span>
						</div>
					</div>

					<div class="addWebhook-cells">
						<i class="fa fa-plus-circle"></i>{{ i18n.webhooks.addWebhook }}
					</div>

					<div class="empty-search-row">{{ i18n.webhooks.empty-row }} </div>

					{{#each webhooks}}
						<div class="grid-row" data-id="{{ id }}" data-search="{{ name }}">
							<div class="webhooks-cells">
								<div class="webhook-name grid-cell centered"> {{ name }} </div>
								<div class="webhook-uri grid-cell"> {{ uri }} </div>
								<div class="webhook-hook grid-cell"> {{ hook }} </div>
								<div class="actions grid-cell">
									{{#monsterSwitch}}
									<input type="checkbox" class="webhook-toggle" data-id="{{ id }}" data-on="{{../../i18n.enabled}}" data-off="{{../../i18n.disabled}}" {{#if enabled}} checked{{/if}}>
									{{/monsterSwitch}}
									<a class="edit" data-id="{{id}}"><i class="icon-cog" data-toggle="tooltip" data-placement="top" data-original-title="{{ ../i18n.webhooks.editTooltip }}"></i></a>
									<a class="history" data-id="{{id}}"><i class="icon-list monster-blue" data-toggle="tooltip" data-placement="top" data-original-title="{{ ../i18n.webhooks.historyTooltip }}"></i></a>
									<a class="delete" data-id="{{id}}"><i class="fa fa-trash-o monster-red" data-toggle="tooltip" data-placement="top" data-original-title="{{ ../i18n.webhooks.deleteTooltip }}"></i></a>
								</div>
							</div>
						</div>
					{{else}}
						<div class="no-webhooks-row">{{ i18n.webhooks.no-webhooks }} </div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
